<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>La Safor Rugby</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)
        <link href="css/styles.css" rel="stylesheet" />-->
    </head>
    <body class="bg">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark colorclub" >
            <div class="container-fluid px-lg-5">
                <a class="navbar-brand " href="#!">
                <img src="https://rugbycv.matchready.es/uploads/club/images/upload-5ead77a5db762-club_image.png" width="50" height="50" alt="" class="rounded-circle">
                Club de rugby La Safor
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5 ">
                <div class="p-4 p-lg-5 panel-section rounded-3 text-center">
                    <div class="m-4 m-lg-5 ">
                        <h1 class="display-5 fw-bold">¡Bienvenid@!</h1>
                        <p class="fs-4">En esta página os pondremos al día de todas las actividades del club, partidos, resultados, tercer tiempo...</p>
                       <!-- <a class="btn btn-primary btn-lg" href="#!">Call to action</a>-->
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5 ">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card panel-section border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature colorclub bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-hand-thumbs-up"></i></div>
                                <h2 class="fs-4 fw-bold">Próximo partido</h2>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-sm">
                                      <div class="card  panel-section">
                                        <div class="card-body">
                                          <h5 class="card-title fw-bold">Paterna</h5>
                                          <img src="../assets/img/paterna.png"  style="max-width: 50%" class="img-fluid" alt="Responsive image">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm">
                                      <div class="card  panel-section">
                                        <div class="card-body">
                                          <h5 class="card-title fw-bold">Safor</h5>
                                          <img src="../assets/img/safor.png" style="max-width: 50%" class="img-fluid" alt="Responsive image">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <p class="mb-0">20/06/2021 11:00</p>
                                <p class="mb-0">Campo: Campo de Rugby La Coma Paterna</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card panel-section border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature colorclub bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bar-chart"></i></div>
                                <h2 class="fs-4 fw-bold">Resultados</h2>
                                <p class="mb-0">Poner resultados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card panel-section border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature colorclub bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                                <h2 class="fs-4 fw-bold">Juega con nosotros</h2>
                                <p class="mb-0">Entrena con nosotros, cuantos más mejor, aprende a jugar a rugby en equipo.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 colorclub">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SaforRugby 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/8.6.7/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/8.6.7/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
</html>
